*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #2A9AE1; /* fondo encabezado */
    color: white; /* texto del encabezado */
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px; 
    height: auto; /* tamaño de la imagewn */
}

.navbar {
    margin-top: 20px;
}

.navbar nav a {
    text-decoration: none; 
}

.navbar .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;

}

.navbar .btn:hover {
    background-color: rgba(255, 246, 255, 0.8) ; /* Color de fondo al pasar el mouse */
    color: black;
    border-radius: 20%;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #151935; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center;
    padding: 20px;
}

.bottom-nav {
    display: flex;
    justify-content: center;
}

.bottom-nav a {
    margin: 0 10px;
    display: inline-block;
}

.bottom-nav img {
    width: 30px; /* Tamaño de las imágenes */
    height: auto; /* Mantener la proporción */
}